doctype html
html(lang="en")
  head
    title JavaScript Encapsulation
  body
    h1 JavaScript Encapsulation
    p Open the developer console to play with the code
    script(src="./encapsulation.js")
